body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: #1c2b75;
  font-family: 'Helvetica Neue', sans-serif;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap:wrap ;
  gap: 10px;
}
.cards{
  width:320px;
  height: 400px;
 text-align: center;
 border: 1px solid black;
 
}
img{
  width:320px;
}
.spinner{
  margin-top: 10rem;
}